# Ignore Python virtual environments
.venv/
__pycache__/
*.pyc

# Ignore logs and temporary files
*.log
*.tmp

# Ignore datasets or data outputs

checkpoints/
tables/
data_analysis_scripts/
data/converted_file.csv
data/fake.json


# Ignore system files
.DS_Store
Thumbs.db

# Ignore Jupyter notebook checkpoints
.ipynb_checkpoints/
