# Ignore Python virtual environments
.venv/
__pycache__/
*.pyc

# Ignore logs and temporary files
*.log
*.tmp

# Ignore checkpoints and tables
.ipynb_checkpoints/
tables/

# Ignore scripts or analysis files
data_analysis_scripts/

# Ignore processed outputs and dimensions
processed_dimension/
processed_fact/
processed_output/

#Ignore test_notebooks
test_notebooks/
test_dimensions/

# Ignore system files
.DS_Store
Thumbs.db
